@font-face {
    font-family: "Oswald";
    src: url(../Font/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Chelsea_market";
    src: url(../Font/Chelsea_Market/ChelseaMarket-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Oswald";
}

/* start nav  */

.navbar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); */

}

.logo {
    width: 130px;

}

.navbar ul {

    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul li {

    margin-left: 80px;
}

.navbar_item {

    text-decoration: none;
    color: #000000;
    font-size: 19px;
    font-weight: bold;
    /* margin-left: 100px; */
    /* margin-right: 100px; */


}

.navbar_item:hover {
    display: block;
    color: #1f0404;
    transform: translateY(-5px);
    transition: 0.3s;
}

.nav_login {
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #1f0404;
    padding: 9px 16px;
    color: #ffffff;
    font-weight: bold;
}

.nav_login:hover {
    color: black;
    background-color: #ecece4;
}

/* end nav  */

/* start banner  */

.nav_img {

    background-image: url('../Images/banner_img3.png');
    background-size: cover;
    height: 100vh;
}

.banner_content {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}


.banner_title {
    font-family: Chelsea_market;
    padding-top: 0px;
    color: #4C2B08;
    font-size: 40px;
}

.banner_content p {
    color: #84593D;
    font-size: 25px;
    padding-top: 10px;
}

.order_now {
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    color: #ffffff;
    background-color: #1f0404;
    padding: 10px 10px;
    font-weight: bold;
}

.order_now:hover {
    color: #1f0404;
    background-color: #ecece4;
}

/* end banner  */

/* start service  */
.service_content {
    width: 80%;
    margin: auto;
    margin-top: 150px;
    background-color: #1f0404;
    border-radius: 10px;

}

.service_title {
    color: #D7BDA6;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 45px;
}

.service_cards {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.service_card {
    color: #D7BDA6;
    margin: 20px;
    font-size: thin;
    padding: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);


}

.service_card p {

    margin-top: 20px;
    text-align: justify;
    font-size: 18px;
}

.service_icon {
    margin-right: 10px;
    text-align: center;
}

.service_line {
    width: 130px;
    height: 3px;
    background-color: #ffffff;
    margin-left: 45px;
}

/* start categeries  */
.categories {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

.categories_title {
    text-align: center;
    font-size: 40px;
}

.categories_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.categories_card {
    height: 300px;
    border-radius: 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);


}

.categories_name {
    position: relative;
    top: -68%;
    left: 20%;
    font-size: 35px;
    color: #ffffff;
}

.categories_line {
    width: 130px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    height: 4px;
    background-color: #000000;
    border-radius: 10px;
}

.categories_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    filter: brightness(0.5);


}

.categories_img:hover {

    transform: scale(1.1);
    transition: 0.3s;
}

/* end categories  */

/* start most popular*/
.menu_section {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

.menu_container {
    margin: auto;

}

.menu_line {
    width: 10%;
    height: 3px;
    background-color: #be9063;
    margin-top: 8px;
    margin-bottom: 40px;
}

.menu_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.menu_card {
    background-color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    transition: transform(0.3s);
}

.menu_card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
}

.menu_img {
    height: 220px;
    overflow: hidden;
}

.menu_item_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.menu_item_card:hover .menu_item_img {
    transform: scale(1.1);
}

.menu_item_info {
    padding: 20px;
    text-align: left;
}

.menu_item_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.menu_item_header {

    color: #2b2622;
    font-size: 18px;
}

.menu_price {
    font-weight: bold;
    color: #be9063;
    font-size: 20px;
}

.menu_item_info p {
    font-size: 18px;
    color: #b5aba2;
}

.menu_desc {
    font-size: 15px;
    color: #7f746b;
    line-height: 1;
    margin-bottom: 20px;
    height: 45px;
    overflow: hidden;
}

.milkshake_item {
    font-size: 18px;
    color: #7f746b;
    line-height: 1; 
    margin-bottom: 20px;
    padding-left: 20px;
    height: 83px;
    overflow: hidden;
    
}



.add_to_cart {
    width: 100%;
    padding: 12px;
    background-color: #2b2622;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s;
}

.add_to_cart:hover {
    background-color: #be9063;
}


/* end most popular */

/* Start about*/

.about {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

.about_section {

    background-image: url(../Images/about_img.jpg);
    background-size: cover;
    height: 90vh;
}

.about_title {
    font-size: 50px;
    color: #333;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.about_line {
    width: 80px;
    height: 4px;
    background-color: #be9063;
    border: none;
    margin-bottom: 20px;
}

.about_text {
    font-size: 20px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 15px;
}

.about_subtitle {
    font-style: italic;
    color: #be9063;
    font-weight: bold;
    font-size: 20px;
}

/* end about  */

/* Start Footer */

.footer_section {
    background-color: #1e1b18;
    color: #e6dfd9;
    padding: 60px 0 20px 0;
    font-family: Arial, sans-serif;
}

.footer_container {
    margin: auto;
    margin-top: 100px;
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;

}


.footer_logo {
    width: 100px;
    margin-bottom: 15px;

}

.footer_bio {
    font-size: 15px;
    /* line-height: 1.6; */
    color: #b5aba2;
    margin-bottom: 20px;
}

.footer_heading {
    font-size: 20px;
    color: #be9063;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 8px;
}


.footer_links,
.footer_hours,
.footer_contact {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_links li,
.footer_hours li,
.footer_contact li {
    font-size: 17px;
    margin-bottom: 12px;
    color: #b5aba2;
    align-items: center;

}

.footer_links a {
    color: #b5aba2;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer_links a:hover {
    color: #be9063;
}

.footer_hours li {
    justify-content: space-between;
    border-bottom: 1px dashed #36302b;
    padding-bottom: 6px;
}

.footer_contact i {
    color: #be9063;
}

.footer_socials a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #2b2622;
    color: #e6dfd9;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.3s;
}

.footer_socials a:hover {
    background-color: #be9063;
    color: #1e1b18;
    transform: translateY(-3px);
}

.footer_bottom {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #2b2622;
    font-size: 15px;
    color: #8c8175;
}

/* end footer  */